a {
  color: #ffffff !important;
  text-decoration: none !important;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  align-items: center;
  /* padding-left: 10px; */
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background: #282c34;
}

.title-system {
  color: white;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo {
  color: #bbccdd;
  /* background-color: green; */
  /* margin-right: 50px; */
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: yellow; */
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-left: 50px;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0.2rem;
  color: #dddddd;
  /* background-color: orangered; */
}

.menu-item {
  color: #ffffff;
}

.search-container {
  display: flex;
  margin-left: 250px;
}

.search-bar {
  width: 10rem;
  padding-top: 0.7rem;
  color: white;
  /* background-color: aliceblue; */
}

.user-container {
  display: flex;
  margin-left: 20px;
  /* background-color: darkgoldenrod; */
}

.user-image {
  width: 2rem;
  height: 2rem;
  /* background-color: red; */
}

.user-name {
  padding-top: 0.7rem;
  color: white;
}
