@import "../../assets/scss/variables/fonts.scss";
@import "../../assets/scss/variables/colors.scss";

.container-fluid{

    background-color: $primary-color !important;
    font-size: 0.9rem;
}

.icon{

    width: 2rem;
    height: 2rem;

}

.icon-text{

    display: flex;
    text-align: center;

}

.menu-container{

    display: flex;
    align-items: center;
    height: 3rem;

}

.menu-item{

    width: auto;
    min-width: 3rem;
    margin-right: 2rem;

}

.fa{

    margin-right: 5px;
    color: $secondary-color;
    
}

.user-container {
    display: flex;
    margin-left: 20px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  